.features-list-title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    margin-bottom: 8px;
  }  
  
  .features-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.features-list-item {
    width: 264px;
}


.features-icon-list {
    display: flex;
        align-items: center;
        justify-content: center;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        height: 112px;
        margin-bottom: 8px;
}


