.footer {
        background-color: #2e2f42;
        padding: 96px 0;
        
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-text {
        color: #f4f4fd;
        max-width: 288px;
}

@media only screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}

.footer-logo {
        display: block;
        color: #f4f4fd;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1.33333;
        letter-spacing: 0.03em;
        text-align: center;
        align-self: center;
        justify-content: flex-start;
        margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
  }
}

.footer .container {
        display: flex;
        flex-direction: column;
        gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
        .footer .container {
                margin: 0 auto;
        }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
  }
}



.icon-footer {
        color: #f4f4fd;
}

.social-link-footer {
        border-radius: 20px;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
}

.social-link-footer:hover,
.social-link-footer:focus {
        background-color: #31d0aa;
}

.social-list-footer {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
}

@media only screen and (min-width: 768px) {
  .social-list-footer {
    justify-content: flex-start;
  }
}

.footer-social-text {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-social-text {
    text-align: left;
  }
}

.footer-info {
        gap: 16px;
        align-items: center;
}

@media only screen and (min-width: 768px) {
        .footer-info {
                max-width: 264px;
        }
}

@media only screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
  }
}

.footer-form {
        text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-row {
    align-items: flex-start;
  }
}



@media only screen and (min-width: 1158px) {
  .footer-form {
    margin-left: 83px;
  }
}



.subscribe-row {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
}

@media only screen and (min-width: 768px) {
  .subscribe-row {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-form-text {
        margin-bottom: 16px;
        font-weight: 500;
        color: #fff;
        text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-form-text {
    text-align: left;
  }
}

.button-subscribe {
        padding: 8px 24px;
        max-width: 165px;
        box-shadow: none;
        background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
        background-color: #31d0aa;
        box-shadow: none;
}

.subscribe-icon {
        margin-left: 16px;
}

.subscribe-form-input {
        width: 100%;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 8px 16px;
        background-color: transparent;
        outline: transparent;
        color: #fff;
        font-size: 12px;
        letter-spacing: 0.04em;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color;
}

@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
  }
}

.subscribe-form-input:focus {
        border-color: #31d0aa;
}

.subscribe-form-input::placeholder {
        color: #fff;
}