.header {
    border-bottom: none;
} 

.mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
}



@media only screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
  }
}

@media only screen and (max-width: 767.98px) {
  .header .container {
    width: 100%;
    max-width: none;
    justify-content: space-between;
  }
}

.header-logo {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    display: inline-flex;
    align-items: center;
    gap: 0;
}

.logo-accent {
    color: #4d5ae5;
}

.navigation-link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}



@media only screen and (max-width: 767.98px) {
  .contacts,
  .navigation,
  .address {
    display: none;
    
  }
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link.current {
    color: #404bbf;
}
.navigation-link:active {
    text-decoration:underline;
}

.contact-link{
    font-style: normal;
    color: #434455;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

@media only screen and (min-width: 1158px) {
  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contact-link:hover,
.contact-link:focus
{
    color: #404bbf;
}



.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

@media only screen and (min-width: 768px) {
  .navigation-list {
    margin-left: 120px;
    margin-right: 129px;
  }
}

@media only screen and (min-width: 1158px) {
  .navigation-list {
    margin-left: 76px;
    margin-right: 340px;
  }
}

@media only screen and (min-width: 768px) {
  .contacts {
    display: flex;
      flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
}

.navigation-link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: 0;
}


